<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ulti-mates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F8751BF1ED167C7006F5733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F8751D31ED167C8006F5733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F8751DE1ED167C8006F5733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
